* {
  box-sizing: border-box;
}
.row {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
h2{
  border-radius: 10px;
}
p {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;

}
  
.container{
  height: 14rem;
  border: black 1px solid;
  border-radius: 10px;
  background-color: darkgrey;
  overflow: hidden;

}
.container:hover{
  box-shadow: 4px 5px 4px 5px lightblue;
}
.name1{
  background-color: blue;
}
.name1:hover{
  background-color: lightblue;
}
.name2{
  background-color: blueviolet;
}
.name2:hover{
  background-color: lightblue;
}
.name3{
  background-color: brown;
}
.name3:hover{
  background-color: lightblue;
}
/* -----Large Device------- */
@media (min-width: 992px){
  .col-lg-4{
      float: left;
      padding-top: 30px;
      padding-left: 25px;
      padding-right: 25px
      
  }
  .col-lg-4{
      width: 33.33%;
      position: relative;
  }
  h2 {
      text-align: center;
      border: solid;
      width: 100px;
      position: absolute;
      top: 10px;
      right: 25px;
   
   }
}


/* -------Medium Device------- */
@media (min-width:768px) and (max-width:991px){
  .col-md-6,.col-md-12{
      float: left;
      position: relative;
      padding-top: 30px;
      padding-left: 25px;
      padding-right: 25px
  }
  .col-md-6{
      width: 50%;
  }
  .col-md-12{
      width: 100%;
  }
  h2 {
      text-align: center;
      border: solid;
      width: 100px;
      position: absolute;
      top: 10px;
      right: 25px;
   
   }
}



/* -------Small Device------- */
@media (max-width:767px) {
  .col-sm-12{
      float: left;
      padding-top: 30px;
      padding-left: 25px;
      padding-right: 25px
      
  }
  .col-sm-12{
      width: 100%;
      position: relative;
  }
  h2 {
      text-align: center;
      border: solid;
      width: 100px;
      position: absolute;
      top: 10px;
      right: 25px;
   
   }

}